@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



body {
  width: auto;
  background-color: #F2D091;
  padding: 5%;
  margin: 2%;
  border: 7px solid #F29877;
  position: relative;
  height: 64em;
  display: block;
}

#div1 {
  width: auto;
  height: 40%;
  display:inline-flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: 3%;
}
#div1 img{
  width: 20%;
  height: 100%;
  
}


p {
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;

}

.head {
  font-family: Roboto;
  font-size: 300%;
  letter-spacing: 1em;
  color: #591C21;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;

}

a.linkgame:hover {
  color: white;
  background-color: #F29877;

}
a.memory:hover{
  color: white;
  background-color: #F29877;
}





.memory {
  font-family: Roboto;
  font-size: 200%;
  letter-spacing: 1em;
  color: #591C21;
  text-decoration: none;
  position: relative;
  float: left;
  left:38%;
}
p {
  font-family: Roboto;
  font-weight: bolder;
  text-align: center;
}
#brain{
  font-size: 120%;
  letter-spacing: 1em;
}
table{
  font-family: Roboto;

}
#table{
  width: 100%;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: 120%;
  height: 10%;
  
}
tr{
  padding-top: 2%;
  padding-bottom: 2%;
}

a.linkgame {
  display: inline-flex;
}
#link{
  justify-content: center;
  flex-wrap: wrap;
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  color: #262626;
  font-family: Roboto;
  font-weight: bolder;
  padding-top: 2%;
  padding-bottom: 2%;
}



/*@media (min-width: 20em) {
    body {
        width: 42%;
        display: inline;}}*/